@import "~normalize.css";
@import "_variables";


body {
  background: #3767AD;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
}

.heading {
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  margin: 87px 50px 68px 50px;
}

.button {
  margin-top: 48px;
  margin-bottom: 37px;
}