@import "~normalize.css";
@import "_variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #3767ad;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}
.button {
  margin-top: 48px;
  width: 216px;
  height: 47px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: 21px;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
}

.date {
  text-align: center;
  font-size: 30px;
  margin: 0;  
}

.value {
  font-size: 20px;
  text-align: center;
  margin: 10px 0 20px 0;
}

.heading {
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  margin: 87px 50px 68px 50px;
  border: dotted;
  padding: 20px;
  border-radius: 7px;
}
.glass {
  position: relative;
  background: url(../assets/img/water-glass.svg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 280px;
  animation: bounce 2s ease-in-out infinite alternate;
  &__number {
    font-size: 100px;
    color: #000;
    margin: 0;
    z-index: 1;
  }
}

.info {
  font-size: 30px;
  padding: 10px;
  display: flex;
  align-self: flex-end;
  background: none;
  border: none;
  text-decoration: none;
  opacity: 1;
  &:hover {
    opacity: 0.7;
  }
}
.back {
  display: flex;
  align-self: flex-start;
  font-size: 30px;
  padding: 10px;
  background: none;
  border: none;
  text-decoration: none;
  opacity: 1;
  &:hover {
    opacity: 0.7;
  }
}

.secondary-button {
  background: none;
  border: none;
  margin-top: 37px;
  font-size: 14px;
  color: #f5e5e7;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  font-style: normal;
}
